h1 {
    text-align: center;
}

.block-1 {
    height: 600px;
    border: 1px solid black;

    display: flex;
    align-items: flex-end;

}

.box {
    height: 300px;
    margin: 10px;
    background-color: pink;

    display: flex;
    justify-content: center;
    align-items: center;
}

.three {
    width: 300px;
}

.five {
    width: 500px;
}

p {
    font-size: 100px;
}

.align-top {
    align-self: flex-start;
}